@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    background-color: #cafdff;
}

header {
    background-color: #eadcff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    height: calc(100vh - 64px);
}

h1 {
    font-size: 72px;;
}

.subheader {
    font-size: 36px;
    padding: 16px 0 24px 0;
}

button {
    background-color: #05c7cf;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 24px;
}

a {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

.fes-logo {
    width: 300px;
    height: auto;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding-left: 16px;
}

.row {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

/*

ABOUT

*/

#about, #discord, #contact, footer {
    padding: 48px 0px;
    background-color: #f8ffdc;
}

h2 {
    font-size: 60px;
    text-align: center;
}

.section__description {
    display: flex;
}

.section__description--wrapper {
    width: 60%;
    justify-content: center;
    align-content: center;
}

.section__description--para {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 1.5;
}

.about__img--wrapper {
    width: 40%;
}

img {
    width: 100%;
}

.about__img--wrapper, .section__description--wrapper {
    padding: 0 24px;
}

/*

DISCORD

*/

#discord {
    background-color: #cefeff;
}

/*

Contact

*/

#contact {
    background-color: #dce9ff;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0px auto;
    padding: 0 24px;
}

input, textarea {
    margin-bottom: 24px;
    font-size: 24px;
    padding: 6px 12px;
}

/*

Contact

*/

footer {
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    max-width: 480px;
    margin-bottom: 16px;
}

.footer__link {
    padding: 0 16px;
}

.footer__links {
    margin-bottom: 32px;
}

/*small PHONES TABLETS LARGE SMARTPHONES*/
@media (max-width: 728px) {

    .nav__fes-logo--wrapper {
        margin: 0 auto;
        max-width: 300px;
    }

    .fes-logo {
        max-width: 250px;
    }

    .row {
        flex-direction: column;
    } 

    header {
        height: auto;
    }

    .home__description {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        text-align: center;
        font-size: 60px;
    }

    .subheader {
        text-align: center;
        font-size: 28px;
    }

    .home__description--button {
        max-width: 240px;
    }

    ul {
        display: none;
    }

    .section__description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__description--wrapper {
        width: 100%;
    }

    .about__img--wrapper {
        width: 100%;
    }

    #discord .section__description {
        flex-direction: column-reverse;
    }

    footer {
        padding: 48px 24px;
    }

    .footer__link {
        padding: 0 8px;
        font-size: 16px;
    }

    .footer__links {
        margin: 24px 0;
    }

}